<!DOCTYPE html>
<html lang="en">
<head>
    <title>Recipe Book</title>
</head>
<body>
    <h1>Recipe Book</h1>
    <ul>
        <li><a href="/recipes/1">Recipe 1</a></li>
        <li><a href="/recipes/2">Recipe 2</a></li>
    </ul>
</body>
</html>

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Recipe Book</title>
</head>
<body>
    <h1>Recipe Book</h1>
    <ul>
        {% for recipe in recipes %}
        <li>
            <a href="{{ recipe.link }}">Recipe 1</a>
            <a href="{{ recipe.link }}">Recipe 2</a>
            <ul>
                {% for ingredient in recipe.ingredients %}
                <li>{{ ingredient.name }} - {{ ingredient.quantity }}</li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</body>
</html>

